body{
    background-image: url(images/pokemon_arena.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

html{
	height:100%;
}

nav {
  padding-right: 5%; }
  nav form {
    width: 25%;
    margin-right: 0; }
  nav a .right {
    margin-right: 10%; }

    
